/* @font-face{
    font-family: main;
    src: url("/Futura-Bold.ttf");
} */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

#page1 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding-top: 20vh;
}

#page1 h1 {
    font-size: 11vw;
    text-transform: uppercase;
    line-height: 11vw;
    letter-spacing: -0.9vw;
    font-family: futura;
    width: 65%;
}

*::selection {
    background-color: black;
    color: #fff;
}

#videoContainer {
    height: 100vh;
    width: 100%;
    margin-top: 1vw;
    background-color: rgb(169, 167, 167);
}

#videoContainer video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#videoContainer #play {
    height: 10px;
    border-radius: 50%;
    width: 10px;
    padding: 3vw 3vw;
    background-color: #000;
    color: #fff;
    font-size: 1.5vw;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: futura;
    cursor: pointer;
    position: fixed;
    opacity: 0;
    scale: 0;
}

#page2 {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 1vw;
}

#page2 .elem {
    height: 100%;
    width: 31%;
    overflow: hidden;
}

#page2 .elem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.1;
}

/* #page3 {
    height: 100vh;
    width: 100%;
} */

@media (max-width:600px) {
    #page1 {
        /* background-color: red; */
        min-height: 70vh;
        width: 100%;
        padding: 0vw 3.5vw;
        padding-top: 25vh;
    }

    #page1 h1 {
        font-size: 13vw;
        text-transform: uppercase;
        line-height: 14vw;
        letter-spacing: -4px;
        font-family: futura;
        width: 65%;
    }

    #videoContainer {
        height: 35vh;
        width: 100%;
        margin-top: 3vw;
        background-color: rgb(169, 167, 167);
    }

    #videoContainer #play {
        padding: 6vw 6vw;
        font-size: 3.5vw;
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
    }

    #page2 {
        max-height: 300vh;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 5vw 3vw;
        margin-top: 10%;
        background-color: red;
    }

    #page2 .elem {
        height: 100vh;
        width: 100%;
        overflow: hidden;
    }

    #page2 .elem img {
        height: 100vh;
        width: 100%;
        object-fit: cover;
        scale: 1.1;
    }
}